.useradd .wmanualbtn, .usermenu img{
	margin-top:16px !important;
} 
.height-292{
	min-height:292px;
}
.margin-20{
	margin:20px;
}
.fav-star{
	font-size:20px;
	margin-top:10px;
}
.favorites-list{
	min-height:320px;
}