@charset "utf-8";

main {
	margin-top: 20px;
	margin-bottom: 20px;
}

#main_content {
	overflow: hidden;
}

#main_content ol {
	list-type: none;
}
#ledaobrands-nav{
	display: inline-block;
	width:100%;
	padding:10px;
	background:#fff;
	min-height: 500px;
}
.ledao-brand-item {
	border-bottom:1px solid #f3f3f3;
}
 
#ledaobrands-nav a{
    text-decoration: none;
    color: #555;
}
#ledaobrands-nav a:hover{
    color: #ff7300;
}

#ledaobrands-nav a.highlight, #ledaobrands-nav span.highlight{
	color:#ff7300;
}
.ledao-brand-th{
	padding:0px 10px;
	display:inline-block;
}
.ledao-brand-th li{
	width:20%;
	float:left;
}
.ledao-brand-item li{
	width: 194px;
	float:left;
	height:40px;
	line-height:40px;
	background:#fff;
}
.ledao-brand-item img{
}
.ln-letters a{
	font-size:16px !important;
}

.d-n{
	display:none;
}
.listNav, .ln-letters {
	overflow: hidden;
}

.listNavHide {
	display: none;
}

.listNavShow {
	display: list-item;
}

.letterCountShow {
	display: block;
}

.ln-letters a {
	width: 41px;
	text-align: center;
	font-size: 0.9em;
	display: block;
	float: left;
	padding: 2px 6px;
	border: 1px solid silver;
	border-right: none;
	text-decoration: none;
}

.ln-letters .ln-last {
	border-right: 1px solid silver;
}

.ln-letters a:hover, .ln-letters .ln-selected {
	background-color: #eaeaea;
}

.ln-letters .ln-disabled {
	color: #ccc;
}

.ln-letter-count {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	text-align: center;
	font-size: 0.8em;
	line-height: 1.35;
	color: #336699;
}
.ln-letters{
	margin-bottom:50px;
}
#ledaobrands-nav-nav .ln-letters a {
    border: none;
    border-top: 2px solid pink;
    color: red;
    height:40px;
    line-height:26px;
}
#ledaobrands-nav img:hover {
	background-color:#eff1f9;
	cursor:pointer;
	-webkit-box-shadow:0px 0px 2px 0px #bababa;
	box-shadow:0px 0px 5px 0px #BBB;
}
.tabContainer{
	background:#fff;
    box-shadow: 4px 6px 6px -6px #e2e2e2!important;
	position:relative;
}
.ledao-brand-th{ 
	    width: 100%;
	    
    border-top: 1px solid #ddd;
    color:#333;
    font-weight:bold;
    margin-bottom: -80px;
    height: 40px;
    background: #f3f3f3;
    border-bottom: 1px solid #f8f8f8;
    -moz-box-shadow: -3px -2px 1px #f3f3f3;
    -webkit-box-shadow: -3px -2px 1px #f3f3f3;
    box-shadow: -3px -2px 1px #f3f3f3;
    line-height: 40px;
}
.ledao-brand-th li{
	width:194px;
}
.ledao-brand-item{
	display: inline-block;
    width: 100%;
}