.server-slider-wrap {
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
	overflow: hidden;
}

.server-slider-wrap .server-slider {
	width: 1190px;
	height: 220px;
	overflow: hidden;
	background-color: #fbfbfb;
}

.server-slider-wrap .server-slider .item-slide {
	height: 100%;
}

.server-slider-wrap .slider-slice {
	float: left;
	overflow: hidden;
	color: #666;
}

.server-slider-wrap .slider-slice .slice-left {
	display: block;
	float: left;
	margin-left: 36px;
	margin-top: 35px;
	max-width: 106px;
	cursor: pointer;
}

.server-slider-wrap .slider-slice .slice-left .cyry-img {
	background: url(http://cms.zbjimg.com/index_server_img/cyry.png) no-repeat;
}

.server-slider-wrap .slider-slice .slice-left .img {
	display: block;
	height: 107px;
	width: 106px;
	vertical-align: middle;
}

.server-slider-wrap .slider-slice .slice-left .tit {
	display: block;
	text-align: center;
	font-size: 16px;
	padding-top: 10px;
}

.server-slider-wrap .slider-slice .slice-right {
	float: left;
	width: 220px;
	margin-left: 15px;
	margin-right: 15px;
}

h4, .h4 {
	font-size: 18px;
}

h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.server-slider-wrap .slider-slice .slice-right h4 .title {
	display: inline-block;
	padding-left: 8px;
	font-size: 14px;
	font-weight: 700;
	border-left: 3px solid #fe9200;
}

.list-link-more {
	color: #ff7900;
	font-size: 14px;
}

.server-slider-wrap .slider-slice .slice-right .server-list {
	height: 40px;
	line-height: 20px;
	overflow: hidden;
}

.server-slider-wrap .slider-slice .slice-right .server-list li {
	display: inline-block;
	margin-right: 6px;
	font-size: 13px;
	font-family: simsun, serif;
	color: #666;
}

.server-slider-wrap .server-slider .item-slide {
	height: 100%;
}

.ui-switchable-nav {
	position: absolute;
	padding-left: 0;
	bottom: 5px;
	width: 100%;
	text-align: center;
	list-style: none;
	margin: 0;
}

.server-slider-wrap .ui-switchable-active {
	background: #ff9000;
}

.server-slider-wrap .ui-switchable-trigger {
	box-shadow: none;
	margin: 0 5px;
	background-color: #dadada;
}

.ui-switchable-trigger {
	display: inline-block;
	width: 12px;
	height: 12px;
	overflow: hidden;
	line-height: 99px;
	margin-left: 5px;
	background: #fff;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#ledao-manual-services {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.ledao-service {
	background-color: #fff;
	width: 100%;
	display: inline-block;
}

.indexTypes {
	display: inline-block;
	width: 100%;
}

.clear {
	clear: both;
}

.clearfix {
	display: inline-block;
}

.fr {
	float: right;
	display: inline;
}

.vm {
	vertical-align: middle;
}

.none {
	display: none;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.indexTypes ul li {
	position: relative;
	float: left;
	width: 320px;
	overflow: hidden;
	height: 113px;
	overflow: hidden;
}

.indexTypes ul li:hover {
	cursor: pointer;
}

.indexTypes ul li.currnet {
	width: 510px;
}

.indexTypes .title h3 {
	font-weight: bold;
	font-size: 14px;
	color: #333;
	border-left: 3px solid #ff9000;
	padding-left: 6px;
	display: inline-block;
	margin: 0px;
}

.indexTypes .title a {
	font-size: 12px;
}

.indexTypes ul li .title {
	width: 160px;
	padding-top: 30px;
	padding-left: 50px;
	font-size: 18px;
	height: 83px;
	float: left;
}

.indexTypes > ul li.ledao-service.current {
	border-bottom: 3px solid #ff7300;
}

.indexTypes ul li .con {
	position: absolute;
	top: 0;
	width: 317px;
	left: 193px;
	overflow: hidden;
	height: 113px;
	overflow: hidden;
}

.indexTypes ul li .con ul {
	padding-top: 12px;
}

.indexTypes ul li .con ul li {
	float: none;
	height: auto;
	width: auto;
}

.indexTypes ul li .con ul li a {
	line-height: 28px;
	width: 195px;
	display: block;
	text-indent: 3em;
	border-bottom: 1px dashed #d1d1d1;
}

.indexTypes ul li .con ul li a:hover {
	color: #F87C02;
}

.ledao-manual-filter-title {
	margin-top: 20px;
	border-bottom: 1px solid #DDD;
	background: #F1F1F1;
	line-height: 34px;
	height: 34px;
	overflow: hidden;
	zoom: 1;
}

.ledao-manual-filter-title h3 {
	float: left;
	padding-left: 10px;
}

.ledao-manual-filter-title h3 b {
	color: #e4393c;
	margin-right: 5px;
}

.ledao-manual-filter-title .st-ext {
	float: left;
	padding-left: 20px;
}

.ledao-manual-filter-title h3 {
	margin: 0px !important;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	display: block;
	margin-right: 116px;
	color: #222;
}


/*Filter styles
*/
@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em {
	margin: 0;
	padding: 0;
	border: 0;
}

ul,ol,li {
	list-style: none;
}

input,button {
	margin: 0;
	font-size: 12px;
	vertical-align: middle;
}

body {
	font-size: 12px;
	font-family: SimSun,Arial,Helvetica,sans-serif;
	color: #333;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* screenBox */
.screenBox dl {
	border-bottom: #e6e6e6 1px dashed;
	overflow: hidden;
	padding: 10px 0;
	_zoom: 1;
}

.screenBox dl dt {
	float: left;
}

.screenBox dl dt {
	text-align: left;
	width: 80px;
	font-weight: 600;
	padding-top: 6px;
}

.screenBox dl dd {
	position: relative;
	padding-left: 0px;
	width: 1060px;
	padding-right: 48px;
	float: left;
	padding-top: 0px;
	vertical-align: middle;
}

.screenBox dl dd label {
	line-height: 14px;
	margin: 0px 25px 0px 0px;
	color: #666;
	overflow: hidden;
	text-decoration: none;
	float: left;
	display: block;
	vertical-align: middle;
}

.custom {
	position: absolute;
	right: -200px;
	top: 0;
	width: 260px;
}

#custext1,#custext2 {
	width: 44px;
}

#cusbtn {
	border: none;
	background: url(../images/jdlist_436.png) no-repeat;
	width: 45px;
	height: 22px;
	margin-left: 5px;
	cursor: pointer;
}

.screenBox dl dd label input {
	float: left;
	width: 13px;
	height: 13px;
	margin-right: 2px;
	margin-top: 5px;
	margin-left: 2px;
}

.screenBox dl dd label a {
	padding: 5px 8px 5px 3px;
	display: inline-block;
}

.screenBox dl dd a:hover {
	background: #39c;
	color: #fff;
}

.screenBox dl dd a.selected {
	background: #39c;
	color: #fff;
}

.screenBox dl dd span.more {
	position: absolute;
	width: 39px;
	display: block;
	height: 14px;
	top: 5px;
	cursor: pointer;
	right: 1px;
}

.screenBox dl dd span.more em {
	background: url(../images/jdlist_434.png) no-repeat 0 5px;
	display: inline-block;
	float: right;
	width: 10px;
	height: 14px;
}

.ui-tab-container ul {
	border-bottom: 1px solid #ddd;
	padding-left: 60px;
}

.ui-tab-container ul li {
	float: left;
	padding: 5px 20px 5px 10px;
	background: url(../images/jdlist_434.png) 85% center no-repeat;
	margin: 0 5px;
	cursor: pointer;
	border-bottom: none;
}

#time-num {
	position: absolute;
	left: 10px;
	top: 10px;
}

#time-num font {
	color: #fa7003;
}

.hasBeenSelected {
	border-top: #ddd 1px solid;
	padding: 2px;
	overflow: hidden;
	padding-left: 100px;
	position: relative;
}

.hasBeenSelected dl {
	overflow: hidden;
}

.hasBeenSelected dl dt {
	float: left;
}

.hasBeenSelected dl dd {
	float: left;
}

.hasBeenSelected dl dt {
	text-align: right;
	line-height: 30px;
	width: 108px;
	height: 30px;
}

.hasBeenSelected dl dd {
	padding-bottom: 4px;
	padding-left: 0px;
	width: 676px;
	padding-right: 0px;
	padding-top: 0px;
}

.screen-top {
	padding: 8px 0;
	position: relative;
	height: 60px;
	line-height: 30px;
}

.screen-top span {
	font-size: 14px;
	padding-left: 10px;
	float: left;
}

.screen-top span input {
	padding: 3px;
	margin-left: 10px;
	height: 22px;
	width: 90px;
}

.product-name {
	margin-left: 20px;
	font-weight: 600;
    /* padding-top: 6px; */
	text-align: left;
	width: 280px;
	float: left;
}

#submit-btn:hover {
	color: #fff !important;
	width: 100px;
}

.list-screen {
	border: 1px solid #ddd;
	border-top: 2px solid #ffa63c;
}

#submit-btn {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
	background: #ff7300;
	width: 98px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	display: block;
	position: absolute;
	right: 10px;
	top: 8px;
}

.selectedInfor {
	border-bottom: #f60 1px solid;
	position: relative;
	border-left: #f60 1px solid;
	padding-bottom: 1px;
	margin: 4px 10px 0px 0px;
	padding-left: 5px;
	padding-right: 17px;
	display: block;
	white-space: nowrap;
	background: #fff;
	float: left;
	height: 20px;
	border-top: #f60 1px solid;
	border-right: #f60 1px solid;
}

.selectedInfor label {
	color: #f60;
}

.ledao-filter {
	width: 100%;
	margin: 20px auto 0 auto;
	background: #fff;
}

.eliminateCriteria {
	float: right;
	cursor: pointer;
}

/*
* Table styles
*/

.tabcon {
	margin-top:20px;
	background-color: #fff;
	position: relative;
	height: 600px;
	overflow: hidden;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
}

.tabcon .subbox {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

.tabcon .sublist {
	padding: 0px 0px 0px 0px;
	height: 300px;
}

.sublist ul {
	width: 880px;
}

.sublist {
	padding: 10px;
}
.sublist ul{
	width:100%;
	padding:5px 10px;
}
.tabth span{
	font-size:14px !important; 
	height:40px;
	line-height:40px;
}

.sublist .tabUl li {
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #f3f3f3;
}

.sublist li span {
	margin: 0 5px 0 0;
	font-size: 14px;
	font-weight: 400;
	    display: inline-block;
}

.references {
	width: 298px;
	display: inline-block;
	height: 100%;
	border-left: 1px solid #e5e5e5;
}

.references ul li {
	height: 35px !important;
}

.references .list-link-lite.top li>a:before, .references .list-link-lite.top li>a:before, .references .list-link-lite.top10 li>a:before {
	top: 15px !important;
}

.references  ul.top {
	margin-top: 0px !important;
}

.f-ff7300 {
	color: #ff7300;
}

.ledao-static {
	border-left: 5px solid #ff7300;
	padding-right: 10px;
	padding-left: 10px;
}

.box {
	width: 280px;
	margin: 0 auto;
}

.bcon {
	width: 298px;
	margin: 0px auto;
}

.bcon h4 {
	padding: 0px;
	font-size: 14px;
	margin: 0px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

.references-title {
	border-top: 2px solid #ff7300;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-right: 10px;
	border-bottom: 1px solid #eee;
}

.more span {
	display: inline-block;
	width: 3px;
	height: 3px;
	border-radius: 10px;
	background: #ff9000;
	margin-right: 5px;
	vertical-align: 3px;
}

.bcon h4 b {
	display: inline-block;
	padding: 0px 10px;
	float: left;
}

.list_lh {
	height: 230px;
	overflow: hidden;
	width: 100%;
}

.list_lh li {
	padding: 5px 10px;
	width: 285px !important;
}

.list_lh li.lieven {
	background: #F0F2F3;
}

.list_lh li p {
	height: 24px;
	line-height: 24px;
}

.list_lh li p a {
	float: left;
}

.list_lh li p em {
	width: 60px;
	font: normal 12px/24px Arial;
	color: #FF3300;
	float: right;
	display: inline-block;
}

.list_lh li p span {
	color: #999;
	float: right;
}

.list_lh li p a.btn_lh {
	background: #28BD19;
	width: 40px;
	text-align: center;
	height: 17px;
	line-height: 17px;
	color: #fff;
	padding: 0 5px;
	margin-top: 4px;
	display: inline-block;
	float: right;
}

.btn_lh:hover {
	color: #fff;
	text-decoration: none;
}

.btm p {
	font: normal 12px/24px 'Microsoft YaHei';
	text-align: center;
}
.sublist-th{
	border-bottom: 1px solid #E7E3E7;
    background: #F9F9F9;
} 


.custom-pagination{
	position: absolute;
    bottom: 0;
    width:100%;
    display:inline-block;
    text-align:center;
}

label a{
	font-weight:normal !important;
	color:#333;
}
label a:hover{
	color:#ff7300;
	background:transparent !important;
}




