body{
	min-width: 480px !important;
	background-color: #f0f0f0 !important;
	font-size:14px;
}
a{
	color:#00aeef;
}
ul{
	list-style:none;
	margin: 0;
    padding: 0;
}

/*
* Display styles
*/
.white-block{
	background-color:#fff;
}

.border-gray-dashed{
	border-bottom: 1px gray dashed;
}
.border-gray-lower-dashed{
	border-bottom: 1px #f7f7f7 solid;
}

.d-l{
	display:inline;
}
.d-i{
	display:inline-block;
}
.d-n{
	display:none;
}
.d-b{
	display: inline-block !important;
}
.f-r{
	float:right !important;
}
.f-l{
	float:left !important;
}

.t-r{
	text-align:right;
}
.t-c{
	text-align:center;
}
.t-l{
	text-align:left;
}

.h-lh-40{
	height:40px;
	line-height:40px;
}

.margin-bottom-20{
	margin-bottom:20px !important;
}

.padding-0{
	padding:0px !important;
}
.padding-top-15{
	padding-top:15px;
}
.p-l-r{
	padding-left:15px;
	padding-right:15px;
}

/*
* Favorite
*/
.fa-star, .fa-star-o{
	font-size:18px !important;
}

/*
* Banner
*/
.cutom-banner{
	display:inline-block;
	width:100%;
}

/*
* Filter styles
*/
.filter-table{
	width:100%;
}

/*
* Sidebar
*/
.sidebar a{
	color:#333;
}
ul.list-lite {
	margin-bottom:0px !important
}
.list-lite li {
    text-indent: 40px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.list-lite li>a {
    display: block;
    height: 50px;
    line-height: 50px;
    transition: color .2s 0s;
    -webkit-transition: color .2s 0s;
    -moz-transition: color .2s 0s;
}
.list-lite li>a.on, .list-lite li>a:hover {
    box-shadow: 3px 0 0 0 #00aeef inset;
    color: #00aeef;
}
.list-lite span.subtype-amount{
	float:right;
	padding-right:20px;
}

/*
* Button styles
*/
.custom-manual-btn{
	background-color:#00aeef;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px #fff solid;
	cursor:pointer;
	color:#fff;
}
.custom-manual-btn:hover{
	background-color:#337ab7;
	color:#fff;
}
a.custom-btn{
	color:#666;
	display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 15px;
    margin-right: 5px;
    font-size: .8em;
    font-weight: 400;
    height: 30px;
    line-height: 28px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}
a.custom-btn:hover{
	color:#00aeef;
	border: 1px solid #00aeef;
}



/*
* Filter Brands 
*/
.custom-tabs-tab{
	padding:15px;
}
.custom-my-favorites {
	min-height:540px;
} 
.custom-filter-brand{
	color:gray;
	width:50px;
	vertical-align: top;
    height: 30px;
    line-height: 30px;
}
.custom-brands-list{
	padding:0px;
	list-style-type:none;
	display:inline-block !important;
	margin-bottom:0px !important;
}
.custom-brand-item{
	color:#383838;
	text-align:center;
	width:100px;
	float:left;
	padding:5px 10px;
	margin-right:10px;
	margin-bottom:10px;
}
.custom-brand-item:hover, .custom-brand-item a:hover, .custom-brands-list .active{
	background-color:#00aeef;
	color:#fff !important;
	cursor:pointer;
}
.custom-brand-item a{
	color:inherit;
}


/*
* Tab styles
*/
.custom-default-tab-title{
	color:#606060;
}

/*
* Top 10 items
*/
ul.top{
	margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
}
.list-link-lite>li>a {
    display: block;
    position: relative;
    padding: 10px 20px;
}
.list-link-lite>li>a:hover{
	background-color:#fafafa
}
.list-link-lite.top li>a:before, .list-link-lite.top li>a:before, .list-link-lite.top10 li>a:before {
    content: " ";
    margin-right: 7px;
    display: inline-block;
    background-color: rgba(100,100,100,.2);
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: .8em;
    text-align: center;
    position: absolute;
    left: 2px;
    top: 11px;
}

.list-link-lite>li>a span.flr {
    display: block;
    height: 42px;
    line-height: 42px;
    position: absolute;
    right: 2px;
    top: 0;
    color: #a8a8a8;
}


.list-link-lite.top li:nth-child(1) a, .list-link-lite.top li:nth-child(1) a, .list-link-lite.top10 li:nth-child(1) a {
    color: #D92B57;
}
.list-link-lite.top li>a, .list-link-lite.top li>a, .list-link-lite.top10 li>a {
    padding-left: 30px;
    padding-right: 65px;
}
.list-link-lite.top li:nth-child(1) a:before, .list-link-lite.top li:nth-child(1) a:before, .list-link-lite.top10 li:nth-child(1) a:before {
    content: '1';
    background-color: #D92B57;
}
.list-link-lite.top li:nth-child(2) a, .list-link-lite.top li:nth-child(2) a, .list-link-lite.top10 li:nth-child(2) a {
    color: #E95D54;
}
.list-link-lite.top li:nth-child(2) a:before, .list-link-lite.top li:nth-child(2) a:before, .list-link-lite.top10 li:nth-child(2) a:before {
    content: '2';
    background-color: #E95D54;
}
.list-link-lite.top li:nth-child(3) a, .list-link-lite.top li:nth-child(3) a, .list-link-lite.top10 li:nth-child(3) a {
    color: #F9953E;
}
.list-link-lite.top li:nth-child(3) a:before, .list-link-lite.top li:nth-child(3) a:before, .list-link-lite.top10 li:nth-child(3) a:before {
    content: '3';
    background-color: #F9953E;
}
.list-link-lite.top li:nth-child(4) a:before, .list-link-lite.top li:nth-child(4) a:before, .list-link-lite.top10 li:nth-child(4) a:before {
    content: '4';
}
.list-link-lite.top li:nth-child(5) a:before, .list-link-lite.top li:nth-child(5) a:before, .list-link-lite.top10 li:nth-child(5) a:before {
    content: '5';
}
.list-link-lite.top li:nth-child(6) a:before, .list-link-lite.top li:nth-child(6) a:before, .list-link-lite.top10 li:nth-child(6) a:before {
    content: '6';
}
.list-link-lite.top li:nth-child(7) a:before, .list-link-lite.top li:nth-child(7) a:before, .list-link-lite.top10 li:nth-child(7) a:before {
    content: '7';
}
.list-link-lite.top li:nth-child(8) a:before, .list-link-lite.top li:nth-child(8) a:before, .list-link-lite.top10 li:nth-child(8) a:before {
    content: '8';
}
.list-link-lite.top li:nth-child(9) a:before, .list-link-lite.top li:nth-child(9) a:before, .list-link-lite.top10 li:nth-child(9) a:before {
    content: '9';
}
.list-link-lite.top li:nth-child(10) a:before, .list-link-lite.top li:nth-child(10) a:before, .list-link-lite.top10 li:nth-child(10) a:before {
    content: '10';
}


/*
* Appliance 
*/
.custom-appliance-table{
	width:100%;
}
.custom-appliance-head{
	padding-left:15px;
	background-color:#00aeef;
	color:#fff;
	font-size:16px;
}
.custom-appliance-head h4{
	font-size:16px !important;
	margin-top:5px;
	margin-bottom:5px;
}
.custom-section-head{
	border-bottom:1px #eee solid;
	height: 50px;
    line-height: 50px;
}
.custom-section-title{
	font-size: 14px;
	color:#383838 !important;
}
.custom-section-more{
	font-size:12px;
	color:#888 !important;
}
.custom-section-more:hover{
	font-size:12px;
	color:#00aeef !important;
}

ul.custom-tabs{
	height:40px;
	line-height:40px;
	list-style:none;
	display:inline-block;
	padding-left:0px;
}
.custom-tabs li{
	height:40px !important;
	line-height:40px !important;
	color:#606060;
	float:left;
	margin-right:20px;
	display:inline-block;
    cursor: pointer;
    height:30px;
    line-height:30px;
}
.custom-tabs li:hover, .custom-tabs li.on{
	color:#00aeef;
	border-bottom:1px solid #00aeef;
	margin-bottom:-1px;
	font-weight:bold;
}
.custom-subtype-head a{
	color: #00aeef !important;
	padding:0px 10px 0px 0px !important;
	font-size:14px;
	font-weight:bold;
	text-decoration: none !important;
	border-bottom:none !important;
	border-right:1px solid #00aeef !important;
}
.custom-subtype-head:hover{
	border-bottom:none !important;
}
.custom-appliance-table th{
	border:none !important;
	padding-left:5px !important;
	border-bottom:1px solid #ddd !important
}
.custom-appliance-table td{
	border:none !important;
}
.custom-appliance-table .cell{
	padding-left:0px;
}


/*
* Table
*******/
table.custom-appliance-table >tbody>tr>th{
	height:50px;
	line-height:50px;
	padding:0px !important;
}
table.custom-appliance-table tr:hover{
	background-color:#fcfcfc;
}
table.custom-appliance-table>tbody>tr>td,table.custom-appliance-table>tfoot>tr>td,  .table>thead>tr>td{
	padding-top:10px !important;
	padding-bottom:10px !important;
	padding:10px 10px 10px 0px!important;
}
table td.cell{
	vertical-align:middle !important;
	font-size:14px !important;
	padding-bottom:0px !important;
	min-width:100px !important;
} 
table .fa-star{
	font-size:14px;
}
.custom-appliance-table a{
	color:#00aeef;
}
.custom-nav{
	float:none !important;
}

@media (min-width: 1200px){
	table .maincell{
		width:50%;
	}
	table .brand{
		width:10%;
	}
	table .version{
		width:15%;
	}
	table .date{
		width:15%;
	}
	table .action{
		width:10%;
		text-align:right
	}
	table td.action{
		padding-right:16px !important;
	}
}

@media (max-width: 1200px){
	table .maincell{
		width:50%;
	}
	table .brand{
		width:10%;
	}
	table .version{
		width:15%;
	}
	table .date{
		width:15%;
	}
	table .action{
		width:10%;
		text-align:right
	}
	table td.action{
		padding-right:16px !important;
	}
}


@media (max-width: 992px){
	table .maincell{
		width:50%;
	}
	table .brand{
		width:10%;
	}
	table .version{
		width:15%;
	}
	table .date{
		width:15%;
	}
	table .action{
		width:10%;
		text-align:right
	}
	table td.action{
		padding-right:16px !important;
	}
}

@media (max-width: 768px){
	/*
	* Menu
	*/
	.sub-menu .custom-nav li a{
		padding-top:0px !important;
		padding-bottom:0px !important;
	}
	
	/*
	* Search box
	*/
	#main-search-box {
	    margin-top: 70px !important;
	}
	#main-search-box .custom-search-button{
		top:-44px !important;
	}
	.col-sm-4{
		float:left;
		width:33.33333333% !important;
	}
	.col-sm-8{
		float:left;
		width:66.66666666% !important;
	}
	.col-sm-6{
		float:left;
		width:50% !important;
	}
	table .maincell{
		width:70%;
	}
	table .brand{
		width:20%;
	}
	table .version{
		display:none;
		width:15%;
	}
	table .date{
		display:none;
		width:15%;
	}
	table .action{
		width:15%;
		text-align:right
	}
	table td.action{
		padding-right:16px !important;
	}
}

/*
* pagination
*/
.custom-pagination{
	width:100%;
	margin:20px auto;
	display:inline-block;
	text-align:center;
}
.custom-pagination .on {
    color: #00aeef;
    border-color: #00aeef;
    cursor: default;
}
.custom-pagination a {
    display: inline-block;
    padding: 1px 5px;
    border: 1px solid rgba(0,0,0,.05);
    min-width: 30px;
    margin: 0 2px;
    background-color: rgba(180,180,180,.1);
    border-radius: 2px;
}

/*
* Login
*/
.main {
    position: relative;
}
.boxed {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 1px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.captcha{
	float:right;width:100px; height:28px; margin-top:-29px; margin-right:1px; position:relative
}
.personalEmail{
	width:100%;
}
div.alert{
	padding:0px !important;
	margin:0px !important;
	color:red !important;
}
input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=tel],input[type=text],input[type=time],input[type=week] {
	-webkit-appearance: none;
	border: 1px solid #ddd;
	outline: 0;
	padding-left: 5px;
	height: 30px
}

.loginbox-thin .row {
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0
}

.loginbox-thin .row>.wmanualbtn {
	width: 100%;
	text-align: center
}

.loginbox-thin .vcodeblock {
	position: relative
}
.wmanualbtn {
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 0 15px;
	margin-right: 5px;
	font-size: .8em;
	font-weight: 400;
	height: 30px;
	line-height: 28px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	border-radius: 2px;
	text-align: center
}

.wmanualbtn.small {
	height: 25px;
	line-height: 23px
}

.wmanualbtn:hover {
	border-color: #00aeef;
	color: #00aeef
}

.wmanualbtn:active {
	-webkit-filter: grayscale(0.2);
	filter: gray
}

.wmanualbtn.c {
	border-color: #00aeef;
	background-color: #00aeef;
	color: #fff!important
}

.wmanualbtn.c-lined {
	border-color: #00aeef;
	color: #00aeef
}

.wmanualbtn.bg-green {
	color: #fff!important;
	border-color: #7cc020;
	background-color: #7cc020
}

.wmanualbtn.bg-red {
	color: #fff!important;
	border-color: #d71c0b;
	background-color: #d71c0b
}

.wmanualbtn.bg-yellow {
	color: #fff!important;
	border-color: #f2a622;
	background-color: #f2a622
}

.wmanualbtn.bg-blue {
	color: #fff!important;
	border-color: #3cb0df;
	background-color: #3cb0df
}

.wmanualbtn.bg-gold {
	color: #fff!important;
	border-color: #d9b77f;
	background-color: #d9b77f
}

.wmanualbtn.bg-white {
	color: #fff!important;
	border-color: #fff;
	background-color: #fff
}

.wmanualbtn.bg-c {
	color: #fff!important;
	border-color: rgba(0,0,0,.1);
	background-color: #00aeef
}

.wmanualbtn.row {
	display: block;
	text-align: center
}

a .wmanualbtn {
	color: #888;
	border-color: #999
}

a .wmanualbtn:hover {
	color: #00aeef;
	border-color: #00aeef
}

.loginbox {
	padding-top: 50px;
	padding-bottom: 30px;
	min-height: 350px;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px
}

.loginbox .row {
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0
}

.loginbox .row>.btn {
	width: 100%;
	text-align: center
}

.loginbox input[type=password],.loginbox input[type=text] {
	width: 100%;
	height: 30px!important;
	background-color: #fafafa
}

.loginbox input[type=password]~input,.loginbox input[type=text]~input {
	margin-top: 10px
}

.loginbox .btn {
	height: 30px
}

.loginbox .tip {
	color: #aaa;
	font-size: .8em
}

.loginbox .tip a {
	color: #00aeef
}

.loginbox .tiptop {
	text-align: center;
	color: #00aeef
}

.loginbox .tipcenter {
	text-align: center;
	font-size: .8em;
	color: #aaa
}

.loginbox .snslogin {
	text-align: center;
	padding-top: 15px
}

.loginbox .snslogin .fa {
	font-size: 1.3em;
	margin-top: 10px
}

.loginbox .snslogin a {
	color: #aaa;
	margin-right: 8px
}

.loginbox .snslogin a:hover {
	color: #00aeef
}

.loginbox-thin {
	box-shadow: 0 0 2px rgba(0,0,0,.1);
	margin: 50px auto;
	padding: 30px;
	min-height: 430px;
	background-color: #fff;
	max-width: 350px
}

.loginbox-thin .row {
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0
}

.loginbox-thin .row>.wmanualbtn {
	width: 100%;
	text-align: center
}

.loginbox-thin .vcodeblock {
	position: relative
}

.loginbox-thin .vcodeblock .vcode {
	height: 25px;
	width: 80px;
	position: absolute;
	display: block;
	right: 2px;
	top: 2px;
	border: 1px solid rgba(0,0,0,.06);
	border-radius: 2px;
	overflow: hidden
}

.loginbox-thin .vcodeblock .vcode img {
	width: 100%;
	height: 100%
}

.loginbox-thin input[type=password],.loginbox-thin input[type=text] {
	width: 100%;
	height: 30px!important;
	background-color: #fafafa
}

.loginbox-thin input[type=password]~input,.loginbox-thin input[type=text]~input {
	margin-top: 10px
}

.loginbox-thin .btn {
	height: 30px
}

.loginbox-thin .tip {
	color: #aaa
}

.loginbox-thin .tip a {
	color: #00aeef
}

.loginbox-thin .tiptop {
	overflow: auto;
	zoom: 1;
	margin-bottom: 30px;
	margin-top: 20px
}

.loginbox-thin .tiptop>a,.loginbox-thin .tiptop>span {
	opacity: .8;
	line-height: 30px;
	text-align: center;
	display: block;
	width: 50%;
	color: #666;
	border-bottom: 2px solid #aaa;
	float: left;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none
}

.loginbox-thin .tiptop>a:hover,.loginbox-thin .tiptop>span:hover {
	background-color: #fafafa
}

.loginbox-thin .tiptop>a.on,.loginbox-thin .tiptop>a:only-child,.loginbox-thin .tiptop>span.on,.loginbox-thin .tiptop>span:only-child {
	border-bottom-color: #00aeef;
	color: #4d4d4d
}

.loginbox-thin .tiptop>a:only-child,.loginbox-thin .tiptop>span:only-child {
	width: 100%
}

.loginbox-thin .tiptop>a:only-child:hover,.loginbox-thin .tiptop>span:only-child:hover {
	background-color: transparent;
	cursor: default
}

.loginbox-thin .tipcenter {
	text-align: center;
	font-size: .8em;
	color: #aaa
}

.loginbox-thin .tipbottom {
	font-size: .8em
}

.loginbox-thin .snslogin {
	text-align: center;
	padding-top: 25px
}

.loginbox-thin .snslogin .fa {
	font-size: 1.3em
}

.loginbox-thin .snslogin a {
	border: 1px solid #aaa;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 10px 5px;
	text-align: center;
	border-radius: 15px;
	color: #aaa
}

.loginbox-thin .snslogin a:hover {
	color: #00aeef;
	border-color: #00aeef
}

.loginbox-thin .ui-info {
	margin: 0
}

.loginbox-complete {
	box-shadow: 0 0 2px rgba(0,0,0,.1);
	margin: 50px auto;
	padding: 30px;
	min-height: 350px;
	background-color: #fff;
	max-width: 550px
}

.loginbox-complete .setpset i {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #7cc020;
	color: #fff;
	font-style: normal;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	margin-bottom: 15px;
	position: relative;
	z-index: 9
}

.loginbox-complete .setpset>span {
	display: block;
	text-align: center;
	width: 33%;
	float: left;
	-webkit-filter: grayscale(1);
	filter: gray;
	opacity: .5;
	position: relative
}

.loginbox-complete .setpset>span.on {
	-webkit-filter: grayscale(0);
	filter: gray;
	opacity: 1
}

.loginbox-complete .row {
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0
}

.loginbox-complete .row>.wmanualbtn {
	width: 100%;
	text-align: center
}

.loginbox-complete .redstar {
	color: #d71c0b
}

.loginbox-complete input[type=password],.loginbox-complete input[type=text] {
	width: 100%;
	height: 30px!important;
	background-color: #fafafa;
	margin-bottom: 20px
}

.loginbox-complete .btn {
	height: 30px
}

.loginbox-complete .tip {
	color: #aaa
}

.loginbox-complete .tip a {
	color: #00aeef
}

.loginbox-complete .tiptop {
	overflow: auto;
	zoom: 1;
	margin-bottom: 30px;
	margin-top: 20px
}

.loginbox-complete .tiptop>span {
	opacity: .8;
	line-height: 30px;
	text-align: center;
	display: block;
	width: 50%;
	color: #666;
	border-bottom: 2px solid #aaa;
	float: left;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none
}

.loginbox-complete .tiptop>span:hover {
	background-color: #fafafa
}

.loginbox-complete .tiptop>span.on {
	border-bottom-color: #00aeef;
	color: #4d4d4d
}

.loginbox-complete .tipcenter {
	text-align: center;
	font-size: .8em;
	color: #aaa
}

.loginbox-complete .tipbottom {
	font-size: .8em
}

.loginbox-complete .snslogin {
	text-align: center;
	padding-top: 15px
}

.loginbox-complete .snslogin .fa {
	font-size: 1.3em
}

.loginbox-complete .snslogin a {
	border: 1px solid #aaa;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 10px 5px;
	text-align: center;
	border-radius: 15px;
	color: #aaa
}

.loginbox-complete .snslogin a:hover {
	color: #00aeef;
	border-color: #00aeef
}

.loginbox-mail {
	box-shadow: 0 0 2px rgba(0,0,0,.1);
	margin: 50px auto;
	min-height: 350px;
	background-color: #fff;
	max-width: 550px;
	padding-top: 20px
}

.loginbox-mail .envelope {
	font-size: 2.5em;
	margin-bottom: 10px;
	color: #00aeef
}

.loginbox-mail .row {
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0
}

.loginbox-mail .row>.wmanualbtn {
	width: 100%;
	text-align: center
}

.loginbox-mail .redstar {
	color: #d71c0b
}

.loginbox-mail .btn {
	height: 30px;
	line-height: 28px
}

.loginbox-mail .tip {
	color: #aaa
}

.loginbox-mail .tip a {
	color: #00aeef
}

.loginbox-sns {
	box-shadow: 0 0 2px rgba(0,0,0,.1);
	margin: 50px auto;
	min-height: 350px;
	background-color: #fff;
	max-width: 550px
}

.loginbox-sns .sns-top {
	background-color: #fafafa;
	padding: 40px 30px 30px;
	border-bottom: 1px solid rgba(0,0,0,.05);
	text-align: center
}

.loginbox-sns .sns-top .iconset {
	text-align: center
}

.loginbox-sns .sns-top .iconset>span {
	display: inline-block;
	width: 100px;
	height: 70px;
	text-align: center
}

.loginbox-sns .sns-top .iconset .exchange {
	font-size: 1.7em;
	color: #7cc020
}

.loginbox-sns .row {
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0
}

.loginbox-sns .row>.wmanualbtn {
	width: 100%;
	text-align: center
}

.loginbox-sns .redstar {
	color: #d71c0b
}

.loginbox-sns input[type=password],.loginbox-sns input[type=text] {
	width: 100%;
	height: 30px!important;
	background-color: #fafafa;
	margin-bottom: 20px
}

.loginbox-sns .btn {
	height: 30px
}

.loginbox-sns .tip {
	color: #aaa
}

.loginbox-sns .tip a {
	color: #00aeef
}

.loginbox-sns .tiptop {
	overflow: auto;
	zoom: 1;
	margin-bottom: 30px;
	margin-top: 20px
}

.loginbox-sns .tiptop>span {
	opacity: .8;
	line-height: 30px;
	text-align: center;
	display: block;
	width: 50%;
	color: #666;
	border-bottom: 2px solid #aaa;
	float: left;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none
}

.loginbox-sns .tiptop>span:hover {
	background-color: #fafafa
}

.loginbox-sns .tiptop>span.on {
	border-bottom-color: #00aeef;
	color: #4d4d4d
}

.loginbox-sns .tipcenter {
	text-align: center;
	font-size: .8em;
	color: #aaa
}

.loginbox-sns .tipbottom {
	font-size: .8em
}

.loginbox-sns .snslogin {
	text-align: center;
	padding-top: 15px
}

.loginbox-sns .snslogin .fa {
	font-size: 1.3em
}

.loginbox-sns .snslogin a {
	border: 1px solid #aaa;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 10px 5px;
	text-align: center;
	border-radius: 15px;
	color: #aaa
}

.loginbox-sns .snslogin a:hover {
	color: #00aeef;
	border-color: #00aeef
}

