
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Home Page</title>
</head>
<body>
  <div class="container">
  	<div> 
		<nav class="navbar navbar-default" role="navigation">
		     <div class="navbar-header">
		        <a class="navbar-brand" href="/">Home</a>
		     </div>
		     <div>
		        <ul class="nav navbar-nav">
		           <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                   Users 
		                   <b class="caret"></b>
		                </a>
		                <ul class="dropdown-menu">
		                   <li><a href="/user/index">Index</a></li>
		                   <li><a href="/user/access">Access</a></li>
		                </ul>
		           </li>
		           <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                   API 
		                   <b class="caret"></b>
		                </a>
		                <ul class="dropdown-menu">
		                   <li><a href="/api/greeting">Greeting</a></li>
		                </ul>
		           </li>
		           <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                 Admin 
		                 <b class="caret"></b>
		              </a>
		              <ul class="dropdown-menu">
		                 <li><a href="/admin/user">Users</a></li>
		              </ul>
		            </li>
		            <li><a href="/about.html">About</a></li>         
		            	<li  style="margin-left: 460px;"><a href="/notify/message">Messages <span class="badge">42</span></a></li>
		            	<li><a href="/setting/home">Setting</a></li>
		            	<li><a href="/logout">Logout</a></li>		           	
		           		<li><a href="/login">Sign In</a></li>
					    <li><a href="/register">Sign Up</a></li>
		      </ul>
		   </div>
		</nav>
  	</div>
    <div class="content">    	
       This is home page.#{app.hello}{{TITLE}}
    </div>
  </div>
</body>


<link href="../../css/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
<link href="../../css/table/ng-table.css" rel="stylesheet"></link>
<script src="../../js/lib/jquery/jquery.min.js"></script>
<script src="../../js/lib/bootstrap/bootstrap.min.js"></script>


</html>
